
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497002781096'); /* IE9*/
  src: url('iconfont.eot?t=1497002781096#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497002781096') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497002781096') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497002781096#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu1:before { content: "\e601"; }

.icon-chakan:before { content: "\e606"; }

.icon-jiahao:before { content: "\e600"; }

.icon-gerenshiwu:before { content: "\e61c"; }

.icon-gengduo:before { content: "\e61e"; }

.icon-msnui-menu-left:before { content: "\e65a"; }

.icon-zip:before { content: "\e623"; }

.icon-chakan1:before { content: "\e769"; }

.icon-icon:before { content: "\e607"; }

.icon-shoucang:before { content: "\e662"; }

.icon-shoucang1:before { content: "\e687"; }

.icon-qita:before { content: "\e6e2"; }

.icon-xiugai1:before { content: "\e653"; }

.icon-avi:before { content: "\e6a0"; }

.icon-exe:before { content: "\e6a2"; }

.icon-gongwenguanli:before { content: "\e608"; }

.icon-chakan2:before { content: "\e61b"; }

.icon-iso:before { content: "\e691"; }

.icon-TXT:before { content: "\e6e1"; }

.icon-richengjihua:before { content: "\e76a"; }

.icon-xls:before { content: "\e68e"; }

.icon-pdf:before { content: "\e604"; }

.icon-jihua:before { content: "\e695"; }

.icon-rm:before { content: "\e6d9"; }

.icon-xinziguanli:before { content: "\e69e"; }

.icon-xiaoshou:before { content: "\e616"; }

.icon-danweishiwu:before { content: "\e60f"; }

.icon-shouye-hangzhengguanli:before { content: "\e636"; }

.icon-html:before { content: "\e72d"; }

.icon-shiwuchuli:before { content: "\e61a"; }

.icon-caiwuguanli:before { content: "\e603"; }

.icon-RAR:before { content: "\e602"; }

.icon-xingzhengguanli:before { content: "\e605"; }

